<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stream Video</title>
  </head>
  <body>
  <di
  <h1 align="center"> Video Library </h1>
        <video width="320" height="240" style="
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%; 
			min-height: 100%;" controls="controls">
          <source src="/static/Sample.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
		<p><strong>Note:</strong> Share & Enjoy .</p>
  </body>
</html>
